.UserRegisteration{
    width: 40%;
    height: 250px;
    margin: 10% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1%;
    background-color: white;
    color: white;
    border-radius: 10px;
    position: relative;
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 1px -1px, rgb(0 0 0 / 50%) 0px 1px 1px 0px, rgb(0 0 0 / 50%) 0px 1px 3px 0px;;
}
.loginHeader{
    width: 90%;
    height: 30px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    color: black;
    top: 50px;
    left: 5%;
}
.loginHeader button{
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: transparent;
    color: silver;
}
.loginWithPhoneNumber{
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginWithPhoneNumber input{
    width:80%;
    height:50%;
}
.loginWithPhoneNumber button{
width: 50%;
height: 50%;
background-color: silver;
border-radius: 10px;
}
.TakeMessageSection{
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TakeMessageSection input{
    width:80%;
    height:50%;
}
.TakeMessageSection button{
width: 60%;
height: 50%;
}