.userOrdersContainer{
    /* width: 60%; */
    height: 60%;
    border: 1px solid black;
    background-color: black;
    color: white;
    z-index: 1;
    overflow: scroll;
    flex-direction: column;
}
.UserOrdersHeader{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.UserOrdersHeader button{
    width: 50px;
}
.userOrders{
    width: 100%;
    height: auto;
    display: flex;
    gap:2px;
    overflow-x: scroll;
}
 .userOrder{
    width: auto;
    height: auto;
}
.userOrder img{
    width: 100%;
    height: 80%;
}
.userOrder ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
}
