.Movies{
    width: 90%;
    height:80vh;
    justify-content: space-around;
    align-items: center;
    gap:10px;
    display: flex;
    /* background: white; */
    background: #121212;
    flex-direction: column;
    position: relative;
    /* flex-wrap: wrap; */
}
.MoviesHeader{
    width: 90%;
    color: #f5c518;
    position: absolute;
    top: 0;
    left: 0;
}
.MoviesContainer{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-around;
   /* position: relative; */
   position: absolute;
   /* flex-wrap: wrap; */
}  
 @media (min-width:1350px) {
    .Movies{
        width: 1350px;
    }
    .MoviesContainer{
        width: 1000px;
    }
    
}  

@media (max-width:1030px) {
    
    .MoviesContainer{
        max-width: 100%;
        overflow: scroll;
    }
    
}  


 
 
