.Movies{
    width: 100%;
    height:60vh;
    position: relative;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
}
.MoviesHeader{
    width: 100%;
    height: 10%;
    color: #f5c518;
    text-align: left;
}
.MoviesContainer{
   width: 100%;
   height: 80%;
   display: flex;
   margin: auto;
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
}  
 @media (min-width:1350px) {
    .Movies{
        width: 1350px;
    }
    .MoviesContainer{
        width: 90%;
    }
    
} 
 @media (max-width:1030px) {
    .Movies{
        width: 100%;
        height: auto;
    }
    .MoviesContainer{
        max-width: 100%;
        height: 100%;
        overflow: scroll;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    
}  


 
  
