.HomePage{
    width: 100%;
    height: 100vh;
    background:black;
}
.HomePageMain{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width:1350px) {
   .HomePageMain{
    width: 1350px;
    height: 100%;
   }
}