.HomePage{
    width: 100%;
    background:black;
    /* height: auto; */
}
.HomePageMain{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap:100px
}
@media (min-width:1350px) {
   .HomePageMain{
    width: 1350px;
    height: 80%;
    position: relative;
   }
}