*{
    list-style: none;
}
.siteHeader{
    width:100%;
    height: 80px;
    border: 1px solid black;
}
.siteHeaderMain{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.headerLogo{
    width: 8%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
}
.headerLogo img{
    width: 100%;
    height: 50%;
    margin: auto;
}
.headerMenuItem{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:1.5%;
}

.headerMenuItem li{
    padding: 5px 10px;
    background-color: #000000;
    color:white;
    border-radius: 10px;
    transition: 0.3s;
}
.headerMenuItem li:hover{
    background-color: #87805E;
    color:black;
}
@media (min-width:1350px) {
    .siteHeaderMain{
        width: 1350px;
        height: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}